body{

padding: 0px;
margin: 0px;
background-color: #E5E9EB;
font-family: Arial, Helvetica, sans-serif

}

h1{

text-align: center;
color: black;
font-weight: 100;

}

button {

padding: 8px;
border-radius: 8px;
border: 1px solid #fff;
background-color: #e5e5e5;

}


.dashboard-container{
border: 1px solid #fff;
height: 500px;
background-color: #fff;
border-radius: 5px;
 margin: 40px;
 padding: 50px;
 height:1000px;

}

.toprow{
height: 300px;
width: 300px;
padding: 0px;
margin: 0px;


}

hr{
position: relative;
 bottom: 300px;

}


.logo{

    width: 80px;
    height: 80px;
    font-size: 15px;
    font-weight: 100;
    position: relative;
    bottom: 30px;
}

.dashbtn{

    background-color:#FF934F;
    margin: 0 0px 100px 80px;
    color: #fff;
    position: relative;
    bottom: 133px;
    
    
    }

   
        
.fa-user{

    position: absolute;
    right:  170px;
    top: 100px;
    border-radius: 50px;
   

}



.fa-message{

    position: absolute;
    right:  110px;
    top: 100px;
    border-radius: 50px;

}



.dashtitle{
    width: 80px;
    height: 80px;
    font-size: 25px;
    position: relative;
    bottom: 315px;
    font-family: 'Lucida Sans';
    font-weight: 100;
}

.overviewbtn{

    margin: 0 0px 100px 80px;
    text-align: center;
    position: relative;
    bottom: 420px;
    left: 40px;

}

#thridrow{
    position: absolute;
    right:  90px;
    top: 140px;
   
  
}


.editbtn{
 
    background-color:#FF934F;
    border: 1px solid #fff;
    color: #fff;
  

}


#menu-container{
position: relative;
bottom: 660px;
right: 80px;




}

.align-items{
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-between;


}

.fa-solid, .fa-brands{
padding: 20px;
margin: 30px;




}




